a {
    padding: 15px;
    border-radius: 5px;
    outline: 5px;
    border: solid 1px #52796f;
    display: flex;
    justify-content: center;
    margin: 5% auto;
    width: 150px;
    height: auto;
    text-decoration: none;
}

.btn {
    color: #faedf3;
    font-size: larger;
    background-color: #7fb685;
}
